[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kserve = "==0.13.0"
transformers = "==4.42.3"
sentencepiece = "*"
torch = "==2.3.1"
accelerate = "==0.32.1"

[dev-packages]

[requires]
python_version = "3.11"
